<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template</title>
</head>

<body>
    <!-- <h1>Hello EJS</h1>
    <p>This is a paragraph.</p> -->

    <h1>Hello <%= title %>
    </h1>
    <p>
        <%= message %>
    </p>
</body>

</html>