body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #fafafa;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: blue;
}

h1,
h2 {
    color: #333;
}

form,
input,
textarea {
    margin: 5px 0;
    padding: 8px;
    width: 300px;
}